@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../public/rufford-mill-splash.avif");
  background-size: cover;
  background-position-y: top;
}

@media screen and (max-width: 640px) {
  body {
    background-position-x: -10em;
  }
}

h1 {
  @apply text-6xl lg:text-7xl;
}

h2 {
  @apply text-4xl lg:text-5xl;
}

.toggleOff {
  transition: transform 0.3s ease;
}

.toggleOn {
  transform: translateX(38px);
}

input[type="submit"],
.primary-button {
  @apply cursor-pointer rounded-full bg-green-700 px-3 py-2 shadow-md shadow-black/50 duration-300 select-none hover:bg-green-600;
}

input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea {
  @apply rounded-lg bg-green-900 px-2 py-1 focus:outline-none;
}

.panel {
  @apply max-w-[500px] rounded-xl bg-black/70 p-4 shadow-lg shadow-black;
}

.panel-green {
  @apply max-w-[500px] rounded-xl bg-green-900/90 p-4 shadow-lg shadow-black;
}
